@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200..1000&display=swap");
@font-face {
  font-family: "Next Art";
  src: url("../fonts/nextart/NEXT ART_Bold.otf");
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  height: 100%;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.title-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.button-hover {
  width: 213px;
  height: 52px;
  color: #1a3e3e;
  background-color: #fdfdfd;
  border: none;
  border-radius: 4px;
  font-family: "Nunito Sans Bold", sans-serif;
  font-size: 16px;
}

.button {
  background-color: #1a3e3e;
  color: #fdfdfd;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
  height: 44px;
}
.button:hover {
  color: #1a3e3e;
  border: 1px solid #1a3e3e;
  background-color: #fdfdfd;
}

.underline {
  text-decoration: underline;
}

.main {
  margin: 0 auto;
  overflow: hidden;
  background-image: url("../img/main_bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.main .title {
  font-family: "Next Art", sans-serif;
  color: #fdfdfd;
  font-size: 50px;
  letter-spacing: 1px;
}
.main .menu {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.main .image-menu {
  margin-top: 7px;
  width: 30px;
  height: 30px;
}
.main .nav-wrapper {
  margin: auto 0px;
  width: 831px;
  height: 44px;
  display: flex;
  justify-content: space-between;
}
.main .menu-list {
  height: 25px;
  width: 625px;
  margin-top: 10px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.main .menu-item {
  font-family: "Nunito Sans Regular", sans-serif;
  color: #fdfdfd;
  font-size: 18px;
}
.main .button {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
}
.main .navigation-button {
  display: inline-block;
  width: 157px;
}
.main .container {
  margin: 0 auto;
}
.main .search-program {
  border: 1px solid transparent;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}
.main .search-program-content {
  display: flex;
  justify-content: space-between;
}
.main .tour-detail {
  display: flex;
  flex-direction: column;
}
.main .select-tour {
  width: 270px;
  height: 52px;
  background-color: transparent;
  border: 1px solid #fdfdfd;
  border-radius: 8px;
  font-family: "Nunito Sans Bold", sans-serif;
  color: #fdfdfd;
  font-size: 18px;
  padding-left: 16px;
}
.main .date-tour {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("../img/date-tour.svg");
  background-position: calc(100% - 20px) center;
  background-repeat: no-repeat;
  padding-right: 20px;
}
.main .hint-detail {
  margin-left: 8px;
  font-family: "Nunito Sans Regular", sans-serif;
  color: #fdfdfd;
  font-size: 14px;
}

@media (min-width: 1920px) {
  .main {
    width: 1920px;
    height: 985px;
  }
  .main .title {
    margin-top: 463px;
    width: 1080px;
    font-size: 50px;
    line-height: 150%;
  }
  .main button-hover {
    width: 213px;
    height: 52px;
  }
  .main .image-menu {
    display: none;
  }
  .main .menu {
    width: 1180px;
    margin-top: 16px;
  }
  .main .menu .nav-wrapper {
    width: 831px;
  }
  .main .menu .nav-wrapper .menu-list {
    height: 25px;
    width: 625px;
    margin-top: 10px;
  }
  .main .search-program-content {
    width: 1095px;
    height: 81px;
    margin: 40px auto;
  }
  .main .logo {
    width: 137px;
    height: 72px;
  }
  .main .container {
    width: 1180px;
  }
  .main .search-program {
    margin-top: 40px;
    height: 161px;
    border: 1px solid transparent;
  }
  .main .search-program .search-program-content {
    width: 1095px;
    height: 81px;
    margin: 40px auto;
  }
  .about-hike {
    height: 771px;
    display: block;
    width: 1920px;
    box-sizing: border-box;
    padding: 100px auto;
  }
  .about-hike .info {
    font-size: 18px;
    margin-bottom: 40px;
  }
  .about-hike .about-hike-container {
    width: 1180px;
    height: 526px;
    margin: 0 auto;
    margin-top: 123px;
  }
  .about-hike .images {
    width: 480px;
    height: 526px;
    position: relative;
  }
  .about-hike .about-hike-house {
    width: 350px;
    height: 400px;
    position: absolute;
    left: 130px;
    top: 126px;
  }
  .about-hike .about-hike-mountain {
    width: 350px;
    height: 400px;
  }
  .about-hike .hike-info {
    margin-top: 64px;
    height: 398px;
    width: 580px;
  }
  .about-hike .program-tour {
    height: 52px;
    width: 200px;
  }
  .about-hike .subtitle {
    margin-bottom: 40px;
  }
  .our-offer {
    display: flex;
    width: 100%;
    margin: 80px auto;
    height: 771px;
    gap: 90px;
  }
  .our-offer .offer {
    gap: 32px;
    margin-top: 80px;
    margin-left: 370px;
    height: 591px;
    width: 580px;
  }
  .our-offer .info {
    font-size: 18px;
    margin: 0px;
  }
  .our-offer .offer-item {
    display: flex;
    gap: 16px;
  }
  .our-offer .guide-title,
  .our-offer .safety-title,
  .our-offer .prices-title {
    font-size: 14px;
  }
  .our-offer .guide-image,
  .our-offer .prices-image,
  .our-offer .safety-image {
    margin: 7px 0px;
  }
  .our-offer .offer-images {
    margin-top: 120px;
    height: 510px;
    width: 510px;
    display: grid;
    gap: 10px;
    grid-template: 1fr 1fr/1fr 1fr;
  }
  .our-offer .image-container {
    object-fit: cover;
    height: 250px;
    width: 100%;
  }
  .our-offer .image-tea,
  .our-offer .image-mountains {
    border-radius: 0 50px;
  }
  .our-offer .image-snowcat,
  .our-offer .image-man {
    border-radius: 50px 0;
  }
  .title {
    font-size: 24px;
  }
  .subtitle {
    font-size: 32px;
  }
  .according-holidaymakers {
    height: 771px;
    padding-top: 80px;
    gap: 50px;
  }
  .according-holidaymakers .destination {
    width: 380px;
    height: 500px;
  }
  .according-holidaymakers .holidaymakers-title {
    margin: 0 auto;
    text-align: center;
  }
  .according-holidaymakers .tour-info {
    height: 90px;
    padding-top: 15px;
    padding-left: 32px;
  }
  .according-holidaymakers .subtitle {
    font-size: 32px;
  }
  .according-holidaymakers .title-container {
    margin: 0px auto;
    text-align: center;
  }
  .according-holidaymakers .title-tour {
    font-size: 24px;
  }
  .according-holidaymakers .price-tour {
    font-size: 20px;
    padding: 8px 0px;
    padding-left: 16px;
    width: 86px;
    height: 40px;
    right: 32px;
    top: 25px;
  }
  .travel-blog {
    height: 1036px;
    padding: 80px 370px;
    gap: 40px;
  }
  .travel-blog .title-container {
    margin: 0px auto;
    text-align: center;
  }
  .travel-blog .blog-posts {
    display: grid;
    row-gap: 24px;
    column-gap: 20px;
    grid-template: 1fr 1fr/1fr 1fr;
    width: 100%;
    height: 648px;
  }
  .travel-blog .blog-post {
    padding: 16px;
    gap: 24px;
    justify-content: space-between;
  }
  .travel-blog .blog-post-image {
    width: 230px;
  }
  .travel-blog .blog-post-info {
    width: 294px;
  }
  .travel-blog .blog-post-title {
    font-size: 24px;
    line-height: 32px;
  }
  .travel-blog .post-description {
    text-overflow: ellipsis;
    overflow: hidden;
    height: 116px;
    line-height: 24px;
    margin-top: 24px;
  }
  .travel-blog .other-materials {
    display: block;
    margin: 0px auto;
    margin-top: 10px;
    display: block;
    height: 52px;
    width: 220px;
  }
  .photo-report {
    box-sizing: border-box;
    padding: 80px 370px 0px;
    height: 1006px;
    gap: 40px;
  }
  .photo-report .photo-report-title-container {
    display: block;
    margin: 0px auto;
    width: fit-content;
    text-align: center;
  }
  .photo-report .photos {
    height: 520px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 280px);
    grid-template-rows: auto;
    gap: 20px;
  }
  .photo-report .photos img:nth-child(1) {
    grid-column: span 2;
  }
  .photo-report .photos img:nth-child(5) {
    grid-column: span 2;
  }
  .photo-report .photo {
    height: 250px;
    width: 100%;
    object-fit: cover;
  }
  .photo-report .pinterest-button {
    display: block;
    margin: 0px auto;
    margin-top: 10px;
    height: 52px;
    width: 178px;
  }
  .subscription-form {
    left: auto;
    bottom: 10px;
    position: absolute;
    margin-bottom: -98px;
    height: 196px;
    width: 1180px;
    z-index: 1;
    display: flex;
    gap: 62px;
  }
  .subscription-form .subscription-details {
    display: flex;
    margin-top: 40px;
    flex-direction: column;
    gap: 8px;
  }
  .subscription-form .subscription-actual {
    font-size: 18px;
    margin-left: 100px;
    margin-top: 40px;
    width: 380px;
  }
  .subscription-form .subscription-subtitle {
    font-size: 26px;
    margin-left: 100px;
    width: 380px;
  }
  .subscription-form .subscribe-button {
    margin-left: 16px;
    height: 100%;
  }
  .subscription-form .subscribe-input {
    width: 280px;
  }
  .subscription-form .subscription-description {
    font-size: 16px;
  }
  .about-us {
    padding-left: 370px;
    padding-right: 370px;
    height: 521px;
  }
  .about-us .company-details {
    width: 480px;
  }
  .about-us .categories {
    padding-top: 176px;
    height: 439px;
    gap: 20px;
  }
  .about-us .travel-tips {
    margin-left: 100px;
  }
  .about-us .company-description {
    width: 456px;
  }
  .about-us .activities {
    margin-left: 24px;
  }
  .footer {
    padding: 24px 370px;
  }
  .footer .footer-container {
    justify-content: space-between;
  }
}
@media (max-width: 390px) {
  .main {
    box-sizing: border-box;
    width: 100%;
    height: 600px;
    padding: 20px 16px;
  }
  .main .menu .logo {
    width: 84px;
    height: 44px;
  }
  .main .menu .nav-wrapper {
    display: none;
  }
  .main .title {
    margin-top: 234px;
    font-size: 28px;
    line-height: 150%;
    margin-bottom: 32px;
  }
  .main .tour-detail {
    display: none;
  }
  .main .search-program {
    background-color: transparent;
  }
  .title {
    font-size: 16px;
  }
  .subtitle {
    font-size: 24px;
  }
  .about-hike {
    padding: 50px 16px;
  }
  .about-hike .title {
    font-size: 16px;
  }
  .about-hike .subtitle {
    font-size: 24px;
    margin-bottom: 24px;
  }
  .about-hike .info {
    font-size: 16px;
  }
  .about-hike .about-hike-container {
    flex-direction: column-reverse;
  }
  .about-hike .about-hike-mountain {
    display: none;
  }
  .about-hike .about-hike-house {
    height: 400px;
    border-radius: 24px;
  }
  .about-hike .program-tour {
    display: block;
    margin: 24px auto 40px;
    height: 44px;
    width: 176px;
  }
  .our-offer {
    height: 769px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 50px 16px;
  }
  .our-offer .offer {
    gap: 32px;
  }
  .our-offer .info {
    font-size: 18px;
  }
  .our-offer .offer-item {
    display: flex;
    gap: 16px;
  }
  .our-offer .guide-title,
  .our-offer .safety-title,
  .our-offer .prices-title {
    font-size: 14px;
  }
  .our-offer .prices {
    display: flex;
    align-items: center;
  }
  .our-offer .prices-cost {
    width: 212px;
    height: 44px;
    display: block;
    margin: auto;
  }
  .our-offer .offer-images {
    display: none;
  }
  .our-offer .image-container {
    display: none;
  }
  .according-holidaymakers {
    padding: 50px 16px;
    gap: 32px;
  }
  .according-holidaymakers .title {
    font-size: 16px;
    margin-left: 0px;
  }
  .according-holidaymakers .subtitle {
    font-size: 24px;
  }
  .according-holidaymakers .destinations-container {
    width: 374px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    white-space: nowrap;
  }
  .according-holidaymakers .destination {
    width: 285px;
    height: 400px;
    display: inline-block;
    scroll-snap-align: start;
  }
  .according-holidaymakers .title-tour {
    margin: 23px;
    font-size: 18px;
  }
  .according-holidaymakers .subtitle-tour {
    display: none;
  }
  .according-holidaymakers .price-tour {
    font-size: 16px;
    padding: 6px 0px 6px 12px;
    line-height: 18px;
    box-sizing: border-box;
    width: 67px;
    height: 30px;
    right: 24px;
    top: 20px;
    border-radius: 4px;
  }
  .travel-blog {
    gap: 32px;
    height: 761px;
    padding: 50px 16px;
  }
  .travel-blog .blog-posts {
    display: flex;
    gap: 24px;
    overflow-x: auto;
    width: 374px;
    height: 496px;
  }
  .travel-blog .blog-post {
    height: 496px;
    width: 285px;
    flex-direction: column;
    gap: 16px;
  }
  .travel-blog .blog-post-image {
    width: 285px;
  }
  .travel-blog .blog-post-info {
    height: 200px;
    width: 285px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    box-sizing: border-box;
    padding: 0px 16px;
  }
  .travel-blog .blog-post-title {
    font-size: 20px;
    line-height: 26px;
  }
  .travel-blog .post-footer {
    margin-bottom: 16px;
  }
  .travel-blog .post-description {
    line-height: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .travel-blog .other-materials {
    height: 44px;
    width: 196px;
    display: block;
    margin: 0px auto;
  }
  .photo-report {
    padding: 50px 16px;
    gap: 32px;
  }
  .photo-report .photos {
    overflow-x: auto;
    width: 376px;
    height: 250px;
    display: flex;
    gap: 20px;
  }
  .photo-report .photo {
    height: 250px;
    width: 280px;
    object-fit: fill;
    border-radius: 6px;
  }
  .photo-report .pinterest-button {
    display: block;
    margin: 0px auto;
    margin-top: 10px;
    height: 44px;
    width: 154px;
  }
  .subscription-form {
    box-sizing: border-box;
    width: 358px;
    height: 351px;
    padding: 24px;
  }
  .subscription-form .subscription-actual {
    font-size: 12px;
  }
  .subscription-form .subscription-subtitle {
    font-size: 16px;
    text-overflow: ellipsis;
  }
  .subscription-form .subscription-details {
    margin-top: 18px;
  }
  .subscription-form .subscription-description {
    font-size: 14px;
  }
  .subscription-form .subscribe-input {
    width: 310px;
  }
  .subscription-form .subscribe-button {
    margin-top: 16px;
    margin-bottom: 16px;
    height: 100%;
    width: 240px;
  }
  .subscription-form .disclaimer {
    margin-top: 90px;
  }
  .about-us {
    height: 895px;
    box-sizing: border-box;
    padding: 50px 16px;
  }
  .about-us .categories {
    flex-direction: column;
    gap: 50px;
  }
  .about-us .contact-company {
    margin-top: 17px;
  }
  .about-us .category-list li {
    margin-bottom: 16px;
  }
  .footer {
    height: 84px;
    padding: 18px;
    box-sizing: border-box;
  }
  .footer .footer-container {
    flex-direction: column;
    align-items: center;
  }
}
.about-hike {
  margin: 0 auto;
  overflow: hidden;
  background-color: white;
}
.about-hike .info {
  line-height: 150%;
  color: #18121e;
  font-family: "Nunito Sans Condensed Regular", sans-serif;
}
.about-hike .container {
  margin: 0 auto;
}
.about-hike .about-hike-container {
  display: flex;
  justify-content: space-between;
}
.about-hike .images {
  position: relative;
}
.about-hike .about-hike-mountain {
  border-radius: 24px;
}
.about-hike .program-tour {
  font-family: "Nunito Sans Regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
}
.about-hike .title {
  color: #f2be22;
  font-family: "Nunito Sans Regular", sans-serif;
}
.about-hike .subtitle {
  color: #18121e;
  font-family: "Nunito Sans ExtraBold", sans-serif;
}

.title {
  color: #f2be22;
  font-family: "Nunito Sans Regular", sans-serif;
  line-height: 120%;
}

.subtitle {
  color: #18121e;
  font-family: "Nunito Sans ExtraBold", sans-serif;
}

.our-offer {
  background-color: #f3f5f4;
  color: #18121e;
  margin: 0 auto;
  overflow: hidden;
}
.our-offer .offer {
  display: flex;
  flex-direction: column;
}
.our-offer .prices-cost {
  width: 236px;
  height: 52px;
}
.our-offer .title {
  color: #f2be22;
  font-family: "Nunito Sans Regular", sans-serif;
  line-height: 120%;
}
.our-offer .subtitle {
  color: #18121e;
  font-family: "Nunito Sans ExtraBold", sans-serif;
}
.our-offer .info {
  color: #18121e;
  font-family: "Nunito Sans Regular", sans-serif;
  line-height: 150%;
  color: #18121e;
}
.our-offer .offer-item {
  font-family: "Nunito Sans Condensed Regular", sans-serif;
  font-size: 14px;
  color: black;
  letter-spacing: normal;
  line-height: 20px;
}
.our-offer .guide-info,
.our-offer .prices-info,
.our-offer .safety-info {
  display: flex;
  flex-direction: column;
  margin: 0px;
}
.our-offer .guide-image,
.our-offer .prices-image,
.our-offer .safety-image {
  display: block;
  border-radius: 4px;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
}
.our-offer .guide-description,
.our-offer .prices-description,
.our-offer .safety-description {
  margin-top: 4px;
}
.our-offer .guide-image {
  background-color: #e5eeeb;
}
.our-offer .prices-image {
  background-color: #f3f1e1;
}
.our-offer .safety-image {
  background-color: #e3e6ee;
  width: 50px;
  height: 50px;
  display: block;
  padding: 6px 7px;
}
.our-offer .safety-image {
  width: 36px;
  height: 36px;
}
.our-offer .guide-title,
.our-offer .safety-title,
.our-offer .prices-title {
  font-family: "Nunito Sans Bold", sans-serif;
  font-size: 18px;
}

.according-holidaymakers {
  background-color: white;
  color: #18121e;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.according-holidaymakers .destinations {
  width: 1180px;
  margin: 0 auto;
  display: flex;
  gap: 20px;
}
.according-holidaymakers .title {
  color: #f2be22;
  font-family: "Nunito Sans Regular", sans-serif;
}
.according-holidaymakers .subtitle {
  color: #18121e;
  font-family: "Nunito Sans ExtraBold", sans-serif;
}
.according-holidaymakers .destination {
  border-radius: 32px;
  position: relative;
}
.according-holidaymakers .image-lake {
  background-image: url("../img/holidaymakers-lake.jpg");
  background-position: center;
  background-size: cover;
}
.according-holidaymakers .image-mountain {
  background-image: url("../img/holidaymakers-mountain.jpg");
  background-position: center;
  background-size: cover;
}
.according-holidaymakers .image-yoga {
  background-image: url("../img/holidaymakers-yoga.jpg");
  background-position: center;
  background-size: cover;
}
.according-holidaymakers .rating {
  position: absolute;
  box-sizing: border-box;
  right: 0px;
  top: 50px;
  padding: 4px 8px;
  background-color: rgba(253, 253, 253, 0.4);
  width: 65px;
  height: 32px;
  vertical-align: center;
  display: flex;
  gap: 4px;
}
.according-holidaymakers .rating-star {
  width: 17px;
  height: 17px;
  margin: 4px;
}
.according-holidaymakers .rating-text {
  font-family: "Nunito Sans Bold", sans-serif;
  font-size: 14px;
  color: #1a3e3e;
  margin-top: 3px;
}
.according-holidaymakers .tour-info {
  position: absolute;
  background-color: rgba(253, 253, 253, 0.2);
  width: 100%;
  border-radius: 0 0 32px 32px;
  bottom: 0px;
  box-sizing: border-box;
  color: #fdfdfd;
  font-family: "Nunito Sans Bold", sans-serif;
}
.according-holidaymakers .tour-info::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2px);
  border-radius: 0 0 32px 32px;
  z-index: 0;
}
.according-holidaymakers .title-tour,
.according-holidaymakers .subtitle-tour {
  position: relative;
  z-index: 1;
}
.according-holidaymakers .subtitle-tour {
  letter-spacing: 18;
  font-size: 14px;
  font-family: "Nunito Sans Condensed Regular", sans-serif;
}
.according-holidaymakers .price-tour {
  background-color: rgba(253, 253, 253, 0.3);
  box-sizing: border-box;
  position: absolute;
  border-radius: 4px;
}
.according-holidaymakers .button-rating {
  display: block;
  margin: 0px auto;
  height: 52px;
  width: 244px;
}

.travel-blog {
  background-color: #f3f5f4;
  color: #18121e;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-sizing: border-box;
}
.travel-blog .title-container {
  width: fit-content;
}
.travel-blog .blog-post {
  border-radius: 10px;
  background-color: #fdfdfd;
  display: flex;
}
.travel-blog .blog-post-image {
  height: 280px;
  border-radius: 6px;
  object-fit: cover;
}
.travel-blog .blog-post-info {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.travel-blog .blog-post-title {
  vertical-align: top;
  font-family: "Nunito Sans Bold", sans-serif;
  color: #18121e;
  letter-spacing: 0px;
  height: auto;
  font-weight: bold;
}
.travel-blog .blog-post-info:hover .blog-post-title {
  text-decoration: underline;
  color: #1a3e3e;
}
.travel-blog .post-description {
  font-family: "Nunito Sans", sans-serif;
  color: #18121e;
  font-size: 14px;
}
.travel-blog .post-footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  font-family: "Nunito Sans Bold", sans-serif;
}
.travel-blog .post-date {
  color: #f2be22;
  font-size: 14px;
  line-height: 14px;
}
.travel-blog .read-more {
  text-decoration: none;
  color: #1a3e3e;
  line-height: 14px;
}

.photo-report {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #fdfdfd;
}
.photo-report .photo-report-title-container {
  display: block;
  width: fit-content;
}
.photo-report .photo {
  border-radius: 6px;
}

.subscription-form {
  background-color: #fdfdfd;
  box-shadow: 0px 0px 15px 0px rgba(24, 18, 30, 0.12);
  border-radius: 6px;
}
.subscription-form .subscription-details {
  font-family: "Nunito Sans SemiBold", sans-serif;
}
.subscription-form .subscribe-form {
  height: 44px;
}
.subscription-form .subscribe-button {
  width: 240px;
}
.subscription-form .subscribe-input {
  box-sizing: border-box;
  padding-left: 16px;
  border: none;
  height: 100%;
  background-color: #f3f5f4;
}
.subscription-form .underline {
  text-decoration: underline;
}
.subscription-form .disclaimer {
  font-size: 14px;
}

.about-us {
  box-sizing: border-box;
  background-color: #1a3e3e;
}
.about-us .categories {
  box-sizing: border-box;
  display: flex;
  color: #f3f5f4;
}
.about-us .category-title {
  font-family: "Nunito Sans Bold", sans-serif;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 17px;
}
.about-us .company-description {
  font-family: "Nunito Sans Condensed Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
}
.about-us .contact-company {
  display: flex;
  gap: 24px;
  font-size: 14px;
  line-height: 18px;
  font-family: "Nunito Sans Semibold", sans-serif;
  text-decoration: underline;
}
.about-us .icons {
  margin-top: 31px;
  display: flex;
  gap: 16px;
  width: 176px;
  height: 32px;
}
.about-us .telegram {
  padding-top: 2px;
  width: 32px;
  height: 28px;
}
.about-us .activities {
  width: 280px;
}
.about-us .category-list {
  list-style: none;
  padding: 0;
}
.about-us .category-list li {
  margin-bottom: 16px;
  font-family: "Nunito Sans Condensed Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  position: relative;
  padding-left: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  gap: 16px;
}
.about-us .arrow {
  display: inline-block;
  width: 5px;
  height: 10px;
  background-image: url("../img/arrow.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 0px;
  cursor: pointer;
  bottom: 50%;
  transform: translateY(50%);
}
.about-us .category-list li:hover {
  color: #f2be22;
  text-decoration: underline;
}
.about-us .category-list li:hover .arrow {
  background-image: url("../img/arrow-hover.svg");
}
.about-us .label-new {
  width: 44px;
  box-sizing: border-box;
  border-radius: 4px;
  text-align: center;
  background-color: #f3f5f4;
  padding: auto;
  vertical-align: center;
  font-size: 12px;
  position: absolute;
  right: 0;
  line-height: 16px;
  height: 20px;
  color: #1a3e3e;
}
.about-us .relative-positioned {
  position: relative;
}

.footer {
  display: block;
  box-sizing: border-box;
  border: none;
  height: 66px;
  background-color: #18121e;
}
.footer .footer-container {
  display: flex;
  font-size: 14px;
  line-height: 18px;
  font-family: "Nunito Sans Regular", sans-serif;
  color: #fdfdfd;
}/*# sourceMappingURL=style.css.map */