$main-font-color: #fdfdfd;
$select-border-color: #fdfdfd;
$photo-report-background: #fdfdfd;
$photo-report-background: #fdfdfd;
$subscription-form-background: #fdfdfd;
$about-hike-background: white;
$according-holidaymakers-background: white;
$button-background-color: #1a3e3e;
$about-us-background-color: #1a3e3e;
$button-hover-color: #1a3e3e;
$label-new-color: #1a3e3e;
$read-more-color: #1a3e3e;
$rating-color: #1a3e3e;
$blog-post-title-hover: #1a3e3e;
$button-hover-color: #1a3e3e;
$button-hover-background: #fdfdfd;
$main-search-program-background: #ffffff33;
$font-info-color: #f2be22;
$item-hover-background: #f2be22;
$font-color-ordinary: #18121e;
$footer-background: #18121e;
$our-offer-background: #f3f5f4;
$about-us-font-color: #f3f5f4;
$guide-image-background: #e5eeeb;
$safety-image-background: #e3e6ee;
$prices-image-background: #f3f1e1;
$font-color-black: black;
$price-background: rgba(253, 253, 253, 0.4);
$tour-price-background: rgba(253, 253, 253, 0.3);
$tour-info-background: rgba(253, 253, 253, 0.2);
$blog-post-background: #fdfdfd;
$drop-shadow-color: rgba(24, 18, 30, 0.12);
$input-background: #f3f5f4;
