@font-face {
  font-family: "Next Art";
  src: url("../fonts/nextart/NEXT\ ART_Bold.otf");
}

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200..1000&display=swap");
