@import "fonts.scss", "colors.scss", "reset-style.scss";

.title-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.button-hover {
  width: 213px;
  height: 52px;
  color: $button-hover-color;
  background-color: $button-hover-background;
  border: none;
  border-radius: 4px;
  font-family: "Nunito Sans Bold", sans-serif;
  font-size: 16px;
}

.button {
  background-color: $button-background-color;
  color: $main-font-color;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
  height: 44px;
  &:hover {
    color: $button-hover-color;
    border: 1px solid $button-hover-color;
    background-color: $button-hover-background;
  }
}

.underline {
  text-decoration: underline;
}

.main {
  margin: 0 auto;
  overflow: hidden;
  background-image: url("../img/main_bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  .title {
    font-family: "Next Art", sans-serif;
    color: $main-font-color;
    font-size: 50px;
    letter-spacing: 1px;
  }
  .menu {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  .image-menu {
    margin-top: 7px;
    width: 30px;
    height: 30px;
  }

  .nav-wrapper {
    margin: auto 0px;
    width: 831px;
    height: 44px;
    display: flex;
    justify-content: space-between;
  }

  .menu-list {
    height: 25px;
    width: 625px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    justify-content: space-between;
  }

  .menu-item {
    font-family: "Nunito Sans Regular", sans-serif;
    color: $main-font-color;
    font-size: 18px;
  }

  .button {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
  }

  .navigation-button {
    display: inline-block;
    width: 157px;
  }

  .container {
    margin: 0 auto;
  }

  .search-program {
    border: 1px solid transparent;
    background-color: $main-search-program-background;
    border-radius: 10px;
  }

  .search-program-content {
    display: flex;
    justify-content: space-between;
  }

  .tour-detail {
    display: flex;
    flex-direction: column;
  }

  .select-tour {
    width: 270px;
    height: 52px;
    background-color: transparent;
    border: 1px solid $select-border-color;
    border-radius: 8px;
    font-family: "Nunito Sans Bold", sans-serif;
    color: $main-font-color;
    font-size: 18px;
    padding-left: 16px;
  }

  .date-tour {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("../img/date-tour.svg");
    background-position: calc(100% - 20px) center;
    background-repeat: no-repeat;
    padding-right: 20px;
  }

  .hint-detail {
    margin-left: 8px;
    font-family: "Nunito Sans Regular", sans-serif;
    color: $main-font-color;
    font-size: 14px;
  }
}

@media (min-width: 1920px) {
  .main {
    width: 1920px;
    height: 985px;

    .title {
      margin-top: 463px;
      width: 1080px;
      font-size: 50px;
      line-height: 150%;
    }

    button-hover {
      width: 213px;
      height: 52px;
    }

    .image-menu {
      display: none;
    }

    .menu {
      width: 1180px;
      margin-top: 16px;
      .nav-wrapper {
        width: 831px;

        .menu-list {
          height: 25px;
          width: 625px;
          margin-top: 10px;
        }
      }
    }

    .search-program-content {
      width: 1095px;
      height: 81px;
      margin: 40px auto;
    }

    .logo {
      width: 137px;
      height: 72px;
    }

    .container {
      width: 1180px;
    }

    .search-program {
      margin-top: 40px;
      height: 161px;
      border: 1px solid transparent;
      .search-program-content {
        width: 1095px;
        height: 81px;
        margin: 40px auto;
      }
    }
  }

  .about-hike {
    height: 771px;
    display: block;
    width: 1920px;
    box-sizing: border-box;
    padding: 100px auto;

    .info {
      font-size: 18px;
      margin-bottom: 40px;
    }

    .about-hike-container {
      width: 1180px;
      height: 526px;
      margin: 0 auto;
      margin-top: 123px;
    }

    .images {
      width: 480px;
      height: 526px;
      position: relative;
    }

    .about-hike-house {
      width: 350px;
      height: 400px;
      position: absolute;
      left: 130px;
      top: 126px;
    }

    .about-hike-mountain {
      width: 350px;
      height: 400px;
    }

    .hike-info {
      margin-top: 64px;
      height: 398px;
      width: 580px;
    }

    .program-tour {
      height: 52px;
      width: 200px;
    }

    .subtitle {
      margin-bottom: 40px;
    }
  }

  .our-offer {
    display: flex;
    width: 100%;
    margin: 80px auto;
    height: 771px;
    gap: 90px;

    .offer {
      gap: 32px;
      margin-top: 80px;
      margin-left: 370px;
      height: 591px;
      width: 580px;
    }

    .info {
      font-size: 18px;
      margin: 0px;
    }

    .offer-item {
      display: flex;
      gap: 16px;
    }

    .guide-title,
    .safety-title,
    .prices-title {
      font-size: 14px;
    }

    .guide-image,
    .prices-image,
    .safety-image {
      margin: 7px 0px;
    }

    .offer-images {
      margin-top: 120px;
      height: 510px;
      width: 510px;
      display: grid;
      gap: 10px;
      grid-template: 1fr 1fr / 1fr 1fr;
    }

    .image-container {
      object-fit: cover;
      height: 250px;
      width: 100%;
    }

    .image-tea,
    .image-mountains {
      border-radius: 0 50px;
    }

    .image-snowcat,
    .image-man {
      border-radius: 50px 0;
    }
  }

  .title {
    font-size: 24px;
  }

  .subtitle {
    font-size: 32px;
  }

  .according-holidaymakers {
    height: 771px;
    padding-top: 80px;
    gap: 50px;
    .destination {
      width: 380px;
      height: 500px;
    }

    .holidaymakers-title {
      margin: 0 auto;
      text-align: center;
    }

    .tour-info {
      height: 90px;
      padding-top: 15px;
      padding-left: 32px;
    }

    .subtitle {
      font-size: 32px;
    }

    .title-container {
      margin: 0px auto;
      text-align: center;
    }

    .title-tour {
      font-size: 24px;
    }
    .price-tour {
      font-size: 20px;

      padding: 8px 0px;
      padding-left: 16px;

      width: 86px;
      height: 40px;
      right: 32px;
      top: 25px;
    }
  }

  .travel-blog {
    height: 1036px;
    padding: 80px 370px;
    gap: 40px;

    .title-container {
      margin: 0px auto;
      text-align: center;
    }

    .blog-posts {
      display: grid;
      row-gap: 24px;
      column-gap: 20px;
      grid-template: 1fr 1fr / 1fr 1fr;
      width: 100%;
      height: 648px;
    }

    .blog-post {
      padding: 16px;
      gap: 24px;
      justify-content: space-between;
    }

    .blog-post-image {
      width: 230px;
    }

    .blog-post-info {
      width: 294px;
    }

    .blog-post-title {
      font-size: 24px;
      line-height: 32px;
    }

    .post-description {
      text-overflow: ellipsis;
      overflow: hidden;
      height: 116px;
      line-height: 24px;
      margin-top: 24px;
    }

    .other-materials {
      display: block;
      margin: 0px auto;
      margin-top: 10px;
      display: block;
      height: 52px;
      width: 220px;
    }
  }

  .photo-report {
    box-sizing: border-box;
    padding: 80px 370px 0px;
    height: 1006px;
    gap: 40px;
    .photo-report-title-container {
      display: block;
      margin: 0px auto;
      width: fit-content;
      text-align: center;
    }

    .photos {
      height: 520px;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(4, 280px);
      grid-template-rows: auto;
      gap: 20px;
    }

    .photos img:nth-child(1) {
      grid-column: span 2;
    }

    .photos img:nth-child(5) {
      grid-column: span 2;
    }
    .photo {
      height: 250px;
      width: 100%;
      object-fit: cover;
    }

    .pinterest-button {
      display: block;
      margin: 0px auto;
      margin-top: 10px;
      height: 52px;
      width: 178px;
    }
  }

  .subscription-form {
    left: auto;
    bottom: 10px;
    position: absolute;
    margin-bottom: -98px;
    height: 196px;
    width: 1180px;
    z-index: 1;
    display: flex;
    gap: 62px;

    .subscription-details {
      display: flex;
      margin-top: 40px;
      flex-direction: column;
      gap: 8px;
    }

    .subscription-actual {
      font-size: 18px;
      margin-left: 100px;
      margin-top: 40px;
      width: 380px;
    }

    .subscription-subtitle {
      font-size: 26px;
      margin-left: 100px;
      width: 380px;
    }

    .subscribe-button {
      margin-left: 16px;
      height: 100%;
    }

    .subscribe-input {
      width: 280px;
    }

    .subscription-description {
      font-size: 16px;
    }
  }

  .about-us {
    padding-left: 370px;
    padding-right: 370px;
    height: 521px;

    .company-details {
      width: 480px;
    }

    .categories {
      padding-top: 176px;
      height: 439px;
      gap: 20px;
    }

    .travel-tips {
      margin-left: 100px;
    }

    .company-description {
      width: 456px;
    }
    .activities {
      margin-left: 24px;
    }
  }

  .footer {
    padding: 24px 370px;
    .footer-container {
      justify-content: space-between;
    }
  }
}

@media (max-width: 390px) {
  .main {
    box-sizing: border-box;
    width: 100%;
    height: 600px;
    padding: 20px 16px;
    .menu {
      .logo {
        width: 84px;
        height: 44px;
      }

      .nav-wrapper {
        display: none;
      }
    }

    .title {
      margin-top: 234px;
      font-size: 28px;
      line-height: 150%;
      margin-bottom: 32px;
    }

    .tour-detail {
      display: none;
    }

    .search-program {
      background-color: transparent;
    }
  }

  .title {
    font-size: 16px;
  }

  .subtitle {
    font-size: 24px;
  }

  .about-hike {
    padding: 50px 16px;

    .title {
      font-size: 16px;
    }

    .subtitle {
      font-size: 24px;
      margin-bottom: 24px;
    }

    .info {
      font-size: 16px;
    }

    .about-hike-container {
      flex-direction: column-reverse;
    }

    .about-hike-mountain {
      display: none;
    }

    .about-hike-house {
      height: 400px;
      border-radius: 24px;
    }

    .program-tour {
      display: block;
      margin: 24px auto 40px;
      height: 44px;
      width: 176px;
    }
  }

  .our-offer {
    height: 769px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 50px 16px;

    .offer {
      gap: 32px;
    }

    .info {
      font-size: 18px;
    }

    .offer-item {
      display: flex;
      gap: 16px;
    }

    .guide-title,
    .safety-title,
    .prices-title {
      font-size: 14px;
    }

    .prices {
      display: flex;
      align-items: center;
    }

    .prices-cost {
      width: 212px;
      height: 44px;
      display: block;
      margin: auto;
    }

    .offer-images {
      display: none;
    }

    .image-container {
      display: none;
    }
  }

  .according-holidaymakers {
    padding: 50px 16px;
    gap: 32px;

    .title {
      font-size: 16px;
      margin-left: 0px;
    }

    .subtitle {
      font-size: 24px;
    }

    .destinations-container {
      width: 374px;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      white-space: nowrap;
    }

    .destination {
      width: 285px;
      height: 400px;
      display: inline-block;
      scroll-snap-align: start;
    }

    .title-tour {
      margin: 23px;
      font-size: 18px;
    }

    .subtitle-tour {
      display: none;
    }

    .price-tour {
      font-size: 16px;
      padding: 6px 0px 6px 12px;
      line-height: 18px;
      box-sizing: border-box;
      width: 67px;
      height: 30px;
      right: 24px;
      top: 20px;
      border-radius: 4px;
    }
  }

  .travel-blog {
    gap: 32px;
    height: 761px;
    padding: 50px 16px;
    .blog-posts {
      display: flex;
      gap: 24px;
      overflow-x: auto;
      width: 374px;
      height: 496px;
    }

    .blog-post {
      height: 496px;
      width: 285px;
      flex-direction: column;
      gap: 16px;
    }

    .blog-post-image {
      width: 285px;
    }

    .blog-post-info {
      height: 200px;
      width: 285px;
      display: flex;
      flex-direction: column;
      gap: 16px;
      box-sizing: border-box;
      padding: 0px 16px;
    }

    .blog-post-title {
      font-size: 20px;
      line-height: 26px;
    }

    .post-footer {
      margin-bottom: 16px;
    }

    .post-description {
      line-height: 20px;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .other-materials {
      height: 44px;
      width: 196px;
      display: block;
      margin: 0px auto;
    }
  }

  .photo-report {
    padding: 50px 16px;
    gap: 32px;
    .photos {
      overflow-x: auto;
      width: 376px;
      height: 250px;
      display: flex;
      gap: 20px;
    }

    .photo {
      height: 250px;
      width: 280px;
      object-fit: fill;
      border-radius: 6px;
    }

    .pinterest-button {
      display: block;
      margin: 0px auto;
      margin-top: 10px;
      height: 44px;
      width: 154px;
    }
  }

  .subscription-form {
    box-sizing: border-box;
    width: 358px;
    height: 351px;
    padding: 24px;

    .subscription-actual {
      font-size: 12px;
    }

    .subscription-subtitle {
      font-size: 16px;
      text-overflow: ellipsis;
    }

    .subscription-details {
      margin-top: 18px;
    }

    .subscription-description {
      font-size: 14px;
    }

    .subscribe-input {
      width: 310px;
    }

    .subscribe-button {
      margin-top: 16px;
      margin-bottom: 16px;
      height: 100%;
      width: 240px;
    }
    .disclaimer {
      margin-top: 90px;
    }
  }

  .about-us {
    height: 895px;
    box-sizing: border-box;
    padding: 50px 16px;
    .categories {
      flex-direction: column;
      gap: 50px;
    }
    .contact-company {
      margin-top: 17px;
    }
    .category-list li {
      margin-bottom: 16px;
    }
  }

  .footer {
    height: 84px;
    padding: 18px;
    box-sizing: border-box;
    .footer-container {
      flex-direction: column;
      align-items: center;
    }
  }
}

.about-hike {
  margin: 0 auto;
  overflow: hidden;
  background-color: $about-hike-background;

  .info {
    line-height: 150%;
    color: $font-color-ordinary;
    font-family: "Nunito Sans Condensed Regular", sans-serif;
  }

  .container {
    margin: 0 auto;
  }

  .about-hike-container {
    display: flex;
    justify-content: space-between;
  }

  .images {
    position: relative;
  }

  .about-hike-mountain {
    border-radius: 24px;
  }

  .program-tour {
    font-family: "Nunito Sans Regular", sans-serif;
    font-size: 16px;
    line-height: 150%;
  }

  .title {
    color: $font-info-color;
    font-family: "Nunito Sans Regular", sans-serif;
  }

  .subtitle {
    color: $font-color-ordinary;
    font-family: "Nunito Sans ExtraBold", sans-serif;
  }
}

.title {
  color: $font-info-color;
  font-family: "Nunito Sans Regular", sans-serif;
  line-height: 120%;
}

.subtitle {
  color: $font-color-ordinary;
  font-family: "Nunito Sans ExtraBold", sans-serif;
}

.our-offer {
  background-color: $our-offer-background;
  color: $font-color-ordinary;
  margin: 0 auto;
  overflow: hidden;
  .offer {
    display: flex;
    flex-direction: column;
  }

  .prices-cost {
    width: 236px;
    height: 52px;
  }

  .title {
    color: $font-info-color;
    font-family: "Nunito Sans Regular", sans-serif;
    line-height: 120%;
  }

  .subtitle {
    color: $font-color-ordinary;
    font-family: "Nunito Sans ExtraBold", sans-serif;
  }

  .info {
    color: $font-color-ordinary;
    font-family: "Nunito Sans Regular", sans-serif;
    line-height: 150%;
    color: $font-color-ordinary;
  }

  .offer-item {
    font-family: "Nunito Sans Condensed Regular", sans-serif;
    font-size: 14px;
    color: $font-color-black;
    letter-spacing: normal;
    line-height: 20px;
  }

  .guide-info,
  .prices-info,
  .safety-info {
    display: flex;
    flex-direction: column;
    margin: 0px;
  }

  .guide-image,
  .prices-image,
  .safety-image {
    display: block;
    border-radius: 4px;
    // margin: 7px 0px;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
  }

  .guide-description,
  .prices-description,
  .safety-description {
    margin-top: 4px;
  }
  .guide-image {
    background-color: $guide-image-background;
  }

  .prices-image {
    background-color: $prices-image-background;
  }

  .safety-image {
    background-color: $safety-image-background;
    width: 50px;
    height: 50px;
    display: block;
    padding: 6px 7px;
  }

  .safety-image {
    width: 36px;
    height: 36px;
  }
  .guide-title,
  .safety-title,
  .prices-title {
    font-family: "Nunito Sans Bold", sans-serif;
    font-size: 18px;
  }
}

.according-holidaymakers {
  background-color: $according-holidaymakers-background;
  color: $font-color-ordinary;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .destinations {
    width: 1180px;
    margin: 0 auto;
    display: flex;
    gap: 20px;
  }

  .title {
    color: $font-info-color;
    font-family: "Nunito Sans Regular", sans-serif;
  }

  .subtitle {
    color: $font-color-ordinary;
    font-family: "Nunito Sans ExtraBold", sans-serif;
  }

  .destination {
    border-radius: 32px;
    position: relative;
  }

  .image-lake {
    background-image: url("../img/holidaymakers-lake.jpg");
    background-position: center;
    background-size: cover;
  }

  .image-mountain {
    background-image: url("../img/holidaymakers-mountain.jpg");
    background-position: center;
    background-size: cover;
  }

  .image-yoga {
    background-image: url("../img/holidaymakers-yoga.jpg");
    background-position: center;
    background-size: cover;
  }

  .rating {
    position: absolute;
    box-sizing: border-box;
    right: 0px;
    top: 50px;
    padding: 4px 8px;
    background-color: $price-background;
    width: 65px;
    height: 32px;
    vertical-align: center;
    display: flex;
    gap: 4px;
  }

  .rating-star {
    width: 17px;
    height: 17px;
    margin: 4px;
  }

  .rating-text {
    font-family: "Nunito Sans Bold", sans-serif;
    font-size: 14px;
    color: $rating-color;
    margin-top: 3px;
  }

  .tour-info {
    position: absolute;
    background-color: $tour-info-background;
    width: 100%;
    border-radius: 0 0 32px 32px;
    bottom: 0px;
    box-sizing: border-box;
    color: $main-font-color;
    font-family: "Nunito Sans Bold", sans-serif;
  }

  .tour-info::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
    border-radius: 0 0 32px 32px;
    z-index: 0;
  }

  .title-tour,
  .subtitle-tour {
    position: relative;
    z-index: 1;
  }

  .subtitle-tour {
    letter-spacing: 18;
    font-size: 14px;
    font-family: "Nunito Sans Condensed Regular", sans-serif;
  }

  .price-tour {
    // font-size: 20px;
    background-color: $tour-price-background;
    // padding: 8px 0px;
    // padding-left: 16px;
    box-sizing: border-box;
    position: absolute;
    // width: 86px;
    // height: 40px;
    // right: 32px;
    // top: 25px;
    border-radius: 4px;
  }

  .button-rating {
    display: block;
    margin: 0px auto;
    // margin-top: 50px;
    height: 52px;
    width: 244px;
  }
}

.travel-blog {
  background-color: $our-offer-background;
  color: $font-color-ordinary;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-sizing: border-box;

  .title-container {
    width: fit-content;
  }

  .blog-post {
    border-radius: 10px;
    background-color: $blog-post-background;
    display: flex;
  }

  .blog-post-image {
    height: 280px;
    border-radius: 6px;
    object-fit: cover;
  }

  .blog-post-info {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }

  .blog-post-title {
    vertical-align: top;
    font-family: "Nunito Sans Bold", sans-serif;
    color: $font-color-ordinary;
    letter-spacing: 0px;
    height: auto;
    font-weight: bold;
  }

  .blog-post-info:hover .blog-post-title {
    text-decoration: underline;
    color: $blog-post-title-hover;
  }

  .post-description {
    font-family: "Nunito Sans", sans-serif;
    color: $font-color-ordinary;
    font-size: 14px;
  }

  .post-footer {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    font-family: "Nunito Sans Bold", sans-serif;
  }

  .post-date {
    color: $font-info-color;
    font-size: 14px;
    line-height: 14px;
  }

  .read-more {
    text-decoration: none;
    color: $read-more-color;
    line-height: 14px;
  }
}

.photo-report {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: $photo-report-background;

  .photo-report-title-container {
    display: block;
    width: fit-content;
  }

  .photo {
    border-radius: 6px;
  }
}

.subscription-form {
  background-color: $subscription-form-background;
  box-shadow: 0px 0px 15px 0px $drop-shadow-color;
  border-radius: 6px;

  .subscription-details {
    font-family: "Nunito Sans SemiBold", sans-serif;
  }

  .subscribe-form {
    height: 44px;
  }

  .subscribe-button {
    width: 240px;
  }

  .subscribe-input {
    box-sizing: border-box;
    padding-left: 16px;
    border: none;
    height: 100%;
    background-color: $input-background;
  }

  .underline {
    text-decoration: underline;
  }

  .disclaimer {
    font-size: 14px;
  }
}

.about-us {
  box-sizing: border-box;
  background-color: $about-us-background-color;
  .categories {
    box-sizing: border-box;

    display: flex;

    color: $about-us-font-color;
  }

  .category-title {
    font-family: "Nunito Sans Bold", sans-serif;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 17px;
  }

  .company-description {
    font-family: "Nunito Sans Condensed Regular", sans-serif;
    font-size: 14px;
    line-height: 20px;
  }

  .contact-company {
    display: flex;
    gap: 24px;
    font-size: 14px;
    line-height: 18px;
    font-family: "Nunito Sans Semibold", sans-serif;
    text-decoration: underline;
  }

  .icons {
    margin-top: 31px;
    display: flex;
    gap: 16px;
    width: 176px;
    height: 32px;
  }

  .telegram {
    padding-top: 2px;
    width: 32px;
    height: 28px;
  }

  .activities {
    width: 280px;
  }

  .category-list {
    list-style: none;
    padding: 0;
  }

  .category-list li {
    margin-bottom: 16px;
    font-family: "Nunito Sans Condensed Regular", sans-serif;
    font-size: 14px;
    line-height: 20px;
    position: relative;
    padding-left: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    gap: 16px;
  }

  .arrow {
    display: inline-block;
    width: 5px;
    height: 10px;
    background-image: url("../img/arrow.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 0px;
    cursor: pointer;
    bottom: 50%;
    transform: translateY(50%);
  }

  .category-list li:hover {
    color: $item-hover-background;
    text-decoration: underline;
  }

  .category-list li:hover .arrow {
    background-image: url("../img/arrow-hover.svg");
  }

  .label-new {
    width: 44px;
    box-sizing: border-box;
    border-radius: 4px;
    text-align: center;
    background-color: $about-us-font-color;
    padding: auto;
    vertical-align: center;
    font-size: 12px;
    position: absolute;
    right: 0;
    line-height: 16px;
    height: 20px;
    color: $label-new-color;
  }

  .relative-positioned {
    position: relative;
  }
}

.footer {
  display: block;
  box-sizing: border-box;
  border: none;
  height: 66px;
  background-color: $footer-background;
  .footer-container {
    display: flex;
    font-size: 14px;
    line-height: 18px;
    font-family: "Nunito Sans Regular", sans-serif;
    color: #fdfdfd;
  }
}
